body {
    background-image: url("../images/eight_horns.png");
    background-repeat: repeat;
}



.crystal-image{
    margin-right:3%;
}

.container{
    margin-top: 5%;
    margin-bottom: 15%;
}
